body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera {
    width: 205px;
    height: 155px;
    background-color: #d6d6d6;
    border-radius: 15px;
    box-shadow: 0 10px 15px -13px #000;
    position: relative;

}